<app-header></app-header>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body mt-3 mb-3">
          <h2 class="text-center mb-4">Inscription sur JXAD Music</h2>
          <form>
            <!-- Formulaire d'inscription -->
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Pseudo</label>
              <input
                type="text"
                class="form-control"
                id="inputUsername"
                placeholder="Entrez votre Pseudo"
              />
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Adresse email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="Entrez votre adresse email"
              />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Mot de passe</label>
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="Entrez votre mot de passe"
              />
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirmez le mot de passe</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirmez votre mot de passe"
              />
            </div>

            <!-- Bouton d'inscription -->
            <div class="text-center mb-4">
              <button
                type="submit"
                class="btn btn-primary btn-lg mt-3"
                style="background-color: #19b4d3; border-color: #19b4d3"
              >
                S'inscrire
              </button>
            </div>
          </form>

          <!-- Call to Action -->
          <div class="text-center">
            <p>Vous avez déjà un compte ?</p>
            <a href="/login" class="btn btn-outline-primary cta-button">
              Connectez-vous ici
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
