.card {
    margin-top: 20px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card img {
    object-fit: cover;
    border-radius: 10px;
  }