/* Ajoutez des styles spécifiques pour la page purchase-history ici */
.card {
    margin-top: 20px;
  }
  
  .border-bottom {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }