<app-header></app-header>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Télécharger des Paroles</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <!-- Titre des Paroles -->
            <div class="mb-3">
              <label for="lyricsTitle" class="form-label">Titre des Paroles</label>
              <input
                type="text"
                class="form-control"
                id="lyricsTitle"
                placeholder="Entrez le titre des paroles"
                [(ngModel)]="lyrics.title"
                name="title"
                required
              />
            </div>

            <!-- Description -->
            <div class="mb-3">
              <label for="lyricsDescription" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="lyricsDescription"
                rows="3"
                placeholder="Entrez une description"
                [(ngModel)]="lyrics.description"
                name="description"
                required
              ></textarea>
            </div>

            <!-- Catégorie -->
            <div class="mb-3">
              <label for="lyricsCategory" class="form-label">Catégorie</label>
              <select class="form-select" id="lyricsCategory" [(ngModel)]="lyrics.category" name="category" required>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="jazz">Jazz</option>
                <option value="classique">Classique</option>
              </select>
            </div>

            <!-- Fichier des Paroles -->
            <div class="mb-3">
              <label for="lyricsFile" class="form-label">Fichier des Paroles</label>
              <input type="file" class="form-control" id="lyricsFile" (change)="onFileChange($event)" required />
            </div>

            <!-- Bouton de Soumission -->
            <div class="text-center mt-5 mb-5">
              <button
                type="submit"
                class="btn btn-primary"
                style="background-color: #19b4d3; border-color: #19b4d3"
              >
                Télécharger
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
